<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{url_for('static',filename='/dist/css/output.css')}}">
<body>
<div class="container min-w-full min-h-screen flex justify-center items-center bg-gray-100">
    <div class="w-2/3 rounded-xl shadow-lg p-8 bg-white">
        <div class="flex gap-2 align-center ">
            <img src="{{url_for('static',filename='src/img/logo-hor.jpg')}}" alt="EhLaBa" class="w-96 pb-4">
        </div>
        <div id="chat-box" class="overflow-auto h-screen/60 mb-4 rounded-xl p-4 bg-gray-200"></div>
        <form id="chat-form" class="flex flex-col sm:flex-row w-full">
            <input type="text" id="question" name="question" required placeholder="vraag" class="flex-grow border-2 p-2 rounded">
            <button type="submit" class="ml-2 mt-2 sm:ml-0 px-4 py-2 self-end sm:self-auto rounded bg-blue-500 text-white">Verstuur</button>
        </form>
    </div>
</div>

<script src="{{url_for('static',filename='src/script.js')}}"></script>
</body>
</html>
